on:
  push:
    branches:
      - master  # Essential for Codecov baseline
    paths: ['**.R', 'tests/**', '**.c', '**.cpp', '**.h', '**.hpp', 'DESCRIPTION', 'NAMESPACE', 'MAKEVARS', 'MAKEVARS.win', '**.yml']

  pull_request:
    # Triggers when a PR is opened, updated, or marked ready for review
    types: [opened, synchronize, reopened, ready_for_review]
    paths: ['**.R', 'tests/**', '**.c', '**.cpp', '**.h', '**.hpp', 'DESCRIPTION', 'NAMESPACE', 'MAKEVARS', 'MAKEVARS.win']

jobs:
  coverage:
    # Run if it is a push (merge) OR if the PR is NOT a draft
    if: github.event_name == 'push' || github.event.pull_request.draft == false

    uses: jasp-stats/jasp-actions/.github/workflows/coverage.yml@master
    with:
      needs_JAGS: true
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
